.idea {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.idea-content {
  width: 600px;
  border: 2px solid rgb(127, 127, 248);
  padding: 30px;
  border-radius: 20px;
}

.idea-header {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.idea-paragraph {
  font-size: 20px;
  margin-bottom: 15px;
}

.idea-link {
  display: block;
  width: 230px;
  text-align: center;
  margin: 30px auto 0 auto;
  background: rgb(127, 127, 248);
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
}
